In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('BASES\steam-200k.csv', names= ['ID','NAME','behavior name','HOURS', '0'])

In [10]:
data = data.drop(columns=['0'])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             200000 non-null  int64
 1   NAME           200000 non-null  object
 2   behavior name  200000 non-null  object
 3   HOURS          200000 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB

In [13]:
data

               ID                        NAME behavior name  HOURS
0       151603712  The Elder Scrolls V Skyrim      purchase    1.0
1       151603712  The Elder Scrolls V Skyrim          play  273.0
2       151603712                   Fallout 4      purchase    1.0
3       151603712                   Fallout 4          play   87.0
4       151603712                       Spore      purchase    1.0
...           ...                         ...           ...    ...
199995  128470551                 Titan Souls          play    1.5
199996  128470551  Grand Theft Auto Vice City      purchase    1.0
199997  128470551  Grand Theft Auto Vice City          play    1.5
199998  128470551                        RUSH      purchase    1.0
199999  128470551                        RUSH          play    1.4

[200000 rows x 4 columns]